target/
bin/
*.versionsBackup
.project
.classpath
.settings
.checkstyle
*.log
*.swp
*/.idea/*
*.iml
*/.idea/
.idea/
_site
.jekyll
.jekyll-metadata
.bundle
.sass-cache
Gemfile
Gemfile.lock
node_modules
package.json
